<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hp.dip">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:theme="@style/AppTheme.NoActionBar"
                android:name=".activity.ViewActivity">
        </activity>
        <activity
                android:name=".activity.SightActivity"
                android:label="@string/title_activity_sight"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.Splash"
                android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/noActionBar" android:name=".activity.SightAllActivity">
        </activity>
        <activity android:theme="@style/noActionBar" android:name=".activity.About">
        </activity>
        <activity android:theme="@style/noActionBar" android:name=".activity.Contacts">
        </activity>
    </application>

</manifest>